<ion-view view-title=" ">
  <ion-content>
   	<div class="bar bar-header bar-dark">
 	 	<h1 class="title">Leave and Overtime Management System</h1>
	</div><br><br>
    <h2>My Leave Balance</h2><br><br>
      <div class="lsit">
        <label class="item item-input">
          <span class="input-label">Date of Report</span>
            <ionic-datepicker input-obj="datepickerObject">
              <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>

            </ionic-datepicker>
        </label>
      </div>
      
      <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
    <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
  </ionic-datepicker>
  </ion-content>
</ion-view>
