<ion-view view-title=" ">
  <ion-content>
   	<div class="bar bar-header bar-dark">
 	 	<h1 class="title">Leave and Overtime Management System</h1>
	</div><br><br>
    <!--start class center-->
    <div class="clear"></div>
 	<div class="center">
    	<h4 class="my-title">My Leave Balance</h4>
        <!--start currentDate-->
       <div class="currentDate">
       		<span>Date of Report</span>
            <div ng-controller>
       </div><!--end of currentDate-->
    </div>  <!--end of class center-->
  </ion-content>
</ion-view>
