<ion-view view-title="LEAVE REPORT">
  <ion-content>

    <div class="bar bar-header bar-dark">
	  	<h5 style="color:white;margin: 0 auto;padding: 0 auto;">Leave and OverTime Management System</h5>
	</div><br/><br/><br/>
	<div class="row">
		<div class="col">
			<b><h5>My Leave Report</h5></b>
		</div>
	</div>	
	<div class="list">
		<div class="item item-input-inset">
		    <label class="item-input-wrapper">
		       <input type="text" placeholder="search">
		    </label>
		    <button class="button button-small button-positive">
		       Search
		    </button>
		</div>
	</div>
	<table style="width:100%;">
		<tr style="background-color: #CCCCB3;">
			<th>Start date</th>
			<th>End date</th>
			<th>Duration</th>
			<th>Status</th>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
		<tr>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"10/22/15 AM"}}</td>
		    <td>{{"Sis Wedding"}}</td>
		    <td>{{"Planned"}}</td>
		</tr>
	</table>
	  
  </ion-content>
</ion-view>
