<ion-view view-title="LEAVE REQUEST">

  	<ion-content >
	
	<div >
		<div class="bar bar-header bar-dark">
		  	<h5 style="color:white;margin: 0 auto;padding: 0 auto;">Leave and OverTime Management System</h5>
		</div>
		<div class="bar bar-subheader">
			<h2 class="title">Submit a leave request</h2>
		</div>
	</div>
	<br/><br/><br/><br/>
	<dvi class="row">
		<div class="col">
			<div class="list">
				<label class="item item-input item-select">
				    <div class="input-label">
				      Leave Type :
				    </div>
				    <select>
					    <option selected value="annual">Annual Leave</option>
					    <option value="special">Special Leave</option>
					    <option value="sick">Sick Leave</option>
				    </select>
				</label>
			</div>
		</div>
	</dvi>
	
	<!-- <div class="row">
		
		<div class="col">
		<label class="item item-input">
		  <span class="input-label">Start Date : </span>
		  <input type="date" id="startdate" class="startdate">
		</label>
			<div class="list">
				<label class="item item-input item-select">
				    <div class="input-label">
				      Start Date :
				    </div>
				    <ionic-datepicker input-obj="datepickerObject">
					    <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
					</ionic-datepicker>
				</label>
			</div>
			
		</div>
		<div class="col col-90%">
			<select>
				<option value="">AM</option>
				<option selected value="">PM</option>
			</select>
		</div>
	</div> -->

	<dvi class="row">
		<div class="col">
			    <div class="list">

				  <div class="item item-input-inset">
				    <label class="item-input-wrapper">
				      Duration :<input type="text">
				    </label>
				    (days)
				  </div>

				</div>
		</div>
	</dvi>
	<div class="row">
		<div class="col">
			<div class="list">
				<label class="item item-input">
				   Reason: <textarea ></textarea>
				</label>
			</div>
		</div>
	</div>
	<dvi class="row">
		<div class="col">
			<div class="list">
				<label class="item item-input item-select">
				    <div class="input-label">
				      Status :
				    </div>
				    <select>
					    <option selected value="planned">Planned</option>
					    <option value="">2</option>
					    <option value="">3</option>
				    </select>
				</label>
			</div>
		</div>
	</dvi>
	<div class="row">
		<div class="col">	
		</div>
		<div class="col col-75">
			<button class="button button-balanced" ng-click="leaveReq()">
			  	Request
			</button>
			<button class="button button-balanced">
			  	Cancel
			</button>
		</div>
	</div>


  </ion-content>
</ion-view>
