<ion-view view-title="LEAVE REPORT">
  <ion-content>

    <div class="bar bar-header bar-dark">
	  	<h5 style="color:white;margin: 0 auto;padding: 0 auto;">Leave and OverTime Management System</h5>
	</div><br/><br/><br/>
	
	<div class="row">
		<div class="col">
			<b><h5>My Leave Report</h5></b>
		</div>
	</div>	
	<div class="list">
		<div class="item item-input-inset">
		    <label class="item-input-wrapper">
		       <input type="text" placeholder="search">
		    </label>
		    <button class="button button-small button-positive">
		       Search
		    </button>
		</div>
	</div>
	
	<div class="row header">
      	<div class="col">startdate</div>
      	<div class="col">enddate</div>
      	<div class="col">Duration</div>
      	<div class="col">Reason</div>
      	<div class="col">Status</div>
	</div>

	<div ng-repeat="item in leave">
	
	    <div class="row">
	          	<div class="col">{{ item.startdate |  date:"MM/dd/yyyy"}}</div>
	          	<div class="col">{{ item.enddate |  date:"MM/dd/yyyy"}}</div>
	         	 <div class="col">{{ item.duration}}</div>
	          	<div class="col">{{ item.type}}</div>
	          	<div class="col">{{ item.status}}</div>
	        </div>
	
	</div>
	  
  </ion-content>
</ion-view>
