

<ion-view view-title="OVER TIME REQUEST">
  <ion-content>
    <div class="bar bar-header bar-dark">
	  <h1 class="title">Leave and OverTime Managment System</h1>
	</div>

	<!--
	<div class="bar bar-header bar-balanced">
	  <div class="title">Footer</div>
	</div>
	--><br/><br/><br/>

	<h2>Submit and Overtime Request</h2>
	<br/><br/>
	<div class="list">
		<label class="item item-input">
		  <span class="input-label">Start Date : </span>
		  <input type="date" id="startdate" class="startdate">
		</label>
		<label class="item item-input">
		  <span class="input-label">Start Date : </span>
		  <!--
		    <ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
		      <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
			</ionic-datepicker>
			-->
			<ionic-datepicker input-obj="datepickerObject">
			  <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>

			</ionic-datepicker>
			
		</label>
		<label>
			<input type="text" ng-model="mydate" style="background:#f00;" value="5555555555"/>
		</label>
		<label class="item item-input">
		  <span class="input-label">Duration : </span>
		  <input type="date">
		</label>
		<label class="item item-input">
		  <span class="input-label">Reson</span>
		  <textarea></textarea>
		</label>

		<label class="item item-input item-select">
		    <div class="input-label">
		      Status :
		    </div>
		    <select>
		      <option>Planned</option>
		      <option selected>Green</option>
		      <option>Red</option>
		    </select>
		</label>

		 <div class="item item-input-inset">
		 	<span>Status  :</span>
		    <label class="item-input-wrapper">
		     	<input type="date"> | <input type="date">
		    </label> &nbsp; &nbsp;
		    
		  </div>

		  <label class="item item-input item-select">
                    <div class="input-label">
                        Lightsaber
                    </div>
                    <select>
                        <option selected>Default</option>
                        <option >Green</option>
                        <option>Red</option>
                    </select>
          </label>

		  <div style ="text-align:right;">
		  	<button class="button button-balanced">
				  Request
			  </button>
			  <button class="button button-balanced">
				  Cencel
			  </button>
		  </div>
		  
	</div>
  </ion-content>
</ion-view>