<ion-view view-title="OVERTIME REPORT">
  <ion-content>

    <div class="bar bar-header bar-dark">
	  	<h5 style="color:white;margin: 0 auto;padding: 0 auto;">Leave and OverTime Management System</h5>
	</div>

	<br/><br/>
	<div class="card">
	  <div class="item item-text-wrap">
	    <h2>My Overtime Request</h2>
	  </div>
	</div>

	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="Search">
	  </label>
	  <button class="button button-small">
	    Search
	  </button>
	</div>

	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="text" placeholder="Search">
	  </label>
	</div>


	<div class="row header">
          <div class="col">ID</div>
          <div class="col">Date</div>
          <div class="col">Duration</div>
          <div class="col">Reason</div>
          <div class="col">Status</div>
      </div>
      <div class="row">
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
        </div>
        <div class="row">
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
        </div>
        <div class="row">
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
        </div>
        <div class="row">
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
        </div>
        <div class="row">
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
          <div class="col">Hello</div>
        </div>

  </ion-content>
</ion-view>



