

<ion-view view-title="OVER TIME REQUEST">
  <ion-content>
    <div class="bar bar-header bar-dark">
	  <h1 class="title">Leave and OverTime Managment System</h1>
	</div>

	<!--
	<div class="bar bar-header bar-balanced">
	  <div class="title">Footer</div>
	</div>
	--><br/><br/><br/>

	<h2>Submit and Overtime Request</h2>
	<br/><br/>
	<div class="list">
		<label class="item item-input">
		  <span class="input-label">Start Date : </span>
		  <ionic-datepicker input-obj="startDate">
			  <button class="button button-block button-positive" ng-model="myStartDate">{{myStartDate | date: 'dd - MMM - yyyy'}} </button>
			</ionic-datepicker>
		</label>
	
		<label class="item item-input">
		  <span class="input-label">Duration : </span>
		    <input type="date" style="background:#ccc;" ng-model="duration"> &nbsp; &nbsp;
		    
		</label>
		<label class="item item-input" style="text-align:right;">
		  <span class="input-label"> </span>
		  <select style="width:80%;border:1px solid #ccc;height:35px;borer-radius:5px;;">
		      <option>Hours</option>
		      <option selected>Days</option>
		    </select>
		</label>

		<label class="item item-input">
		  <span class="input-label">Reson</span>
		  <textarea ng-model="cause"></textarea>
		</label>

		<label class="item item-input item-select">
		    <div class="input-label">
		      Status :
		    </div>
		    <select ng-model="status">
		      <option>Planned</option>
		      <option selected>Green</option>
		      <option>Red</option>
		    </select>
		</label>
		  <div style ="text-align:right;">
		  	<button class="button button-balanced">
				  Request
			  </button>
			  <button class="button button-balanced">
				  Cencel
			  </button>
		  </div>
	</div>
  </ion-content>
</ion-view>