<ion-view view-title="KOSIGN">
  <ion-content>
     
    <div class="bar bar-header bar-balanced">
      <h1 class="title">LEAVE MANANGEMENT SYSTEM</h1>
    </div>
    <br>
    <br>
     <div class="list" style="padding: 20px;">
    <span class="input-label">User Name</span>
      <label class="item item-input item-input-wrapper">    
        <input type="text" placeholder="">
      </label>
    <span class="input-label">Password</span>
      <label class="item item-input item-input-wrapper">
        <input type="password" placeholder="">
      </label>
      <br>
      <br>
      <div class="row ">
        <div class="col text-right "> 
            <button class="button button-balanced " ui-sref="app.home" style="width: 110px;">
                LOGIN
            </button>
        </div>
          <div class="col"> 
            <button class="button button-balanced" style="width: 110px;">
                SIGN UP
            </button>
        </div>
       </div>
    </div>

  </ion-content>
</ion-view>
<div class="bar bar-footer row bar-balanced">
    <div class="col text-center" style="padding: 0;">
       KOsign software Innovation Global Network<br>
       <a href= 'http://www.kosign.com.kh' target="_blank">www.kosign.com.kh</a>
    </div>
</div>