<ion-view view-title="">
  <ion-content>
  <ion-header-bar  class="nav-title-slide-ios7 bar-balanced">
     <h1 class="title">USER REGISTRATION</h1>
  </ion-header-bar><br><br>   
  	<div class="list">
  		<label class="item item-input">
  			<span class="input-label">First Name</span>
  			<input type="text">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Last Name</span>
  			<input type="text">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Login Id</span>
  			<input type="number">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Email</span>
  			<input type="email">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Phone</span>
  			<input type="tel">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Departement</span>
  			<input type="tel">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Position</span>
  			<input type="tel">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Password</span>
  			<input type="password">
  		</label>
  		<label class="item item-input">
  			<span class="input-label">Confirm</span>
  			<input type="password">
  		</label>
  	</div>
  	<div style ="text-align:center;">
		  	<button class="button button-balanced" style="width:110px;">
				  REGISTER
			  </button>
			  <button class="button button-balanced" style="width:110px;">
				  CENCEL
			  </button>
	 </div>
    	<div class="col text-center">
       		KOsign software Innovation Global Network<br>
       		<a href= 'http://www.kosign.com.kh' target="_blank">www.kosign.com.kh</a>
   		</div>
  </ion-content>
</ion-view>
