@charset "utf-8";
/* CSS Document */
.clear{clear:both;}
.center{width:1000px;background:#CCC;margin:0 auto;height:300px;padding-top:10px;}
.h_title{color:gray;}
.header .col {
    background-color:lightgrey;
}
h4{margin:0px;}
.col {
    border: 0px;
    border-bottom-style: none;
    border-right-style: none;
}